<!DOCTYPE html>

    <%- include('../partias/head'); %>

<body class="container">

    <%- include('../partias/header'); %>
     
    <main>
        <div class="jumbotron">
            <h1> Sobre Mim </h1>
            <p> Oi, sou Daniel Renan, estudante de programação Web - HTML, CSS, JavaScript e ReactJS </p>
        </div>
    </main>

    <%- include('../partias/footer'); %>

</body>
</html>